@font-face {
    font-family: "NotoSans";
    src: url(Noto-Sans/NotoSans-Bold.ttf)
}

/*Primär Farbe #06408d*/
@media (prefers-color-scheme:light){
    body{
        background-color: white;
        color: black;
    }
    a{
        color: black;
        text-decoration: none;
    }
}

@media (prefers-color-scheme:dark){
    body{
        background-color: black;
        color: white;
    }
    a{
        color: white;
        text-decoration: none;
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: "NotoSans";
    position: relative;
}

h1 {
    text-align: center;
}

header{
    margin-left: 5px;
    margin-right: 5px;
    height: 50px;
    display: flex;
    background-color:#06408d;
    justify-content: space-between;
}

.login{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 3.125rem;
    grid-row-gap: 1.25rem; 
    justify-content: center;
    align-items: center;
    border-radius: .9375rem;
    margin-left: 18.75rem;
    margin-right: 18.75rem;
    margin-top: 10px;
 }

 .logo{
    max-height: 50px;
 }


 .regi{
    border-radius: .625rem;
    height: 1.5625rem;
    width: 18.75rem;
 }

.projektanlegung {
    display: flex;
    justify-content: center;
}

.submitb{
    background-color: cyan;
}