@font-face {
    font-family: "NotoSans";
    src: url(Noto-Sans/NotoSans-Bold.ttf)
}

/*Primär Farbe #06408d*/
@media (prefers-color-scheme:light){
    body{
        background-color: white;
        color: black;
    }
}

@media (prefers-color-scheme:dark){
    body{
        background-color: black;
        color: white;
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: "NotoSans";
    position: relative;
}

h1 {
    text-align: center;
}
a {
    height: auto;
    width: auto;
}

.login{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 3.125rem;
    grid-row-gap: 1.25rem; 
    justify-content: center;
    align-items: center;
    color: black;
    border-radius: .9375rem;
    margin-left: 18.75rem;
    margin-right: 18.75rem;
 }