@font-face {
    font-family: "NotoSans";
    src: url(Noto-Sans/NotoSans-Bold.ttf)
}


/*Primär Farbe #06408d*/
@media (prefers-color-scheme:light){
    body{
        background-color: white;
        color: black;
    }
    a{
        color: black;
        text-decoration: none;
    }
}

@media (prefers-color-scheme:dark){
    body{
        background-color: black;
        color: white;
    }
    a{
        color: white;
        text-decoration: none;
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: "NotoSans";
    position: relative;
    height: 100%;

}

h1 {
    text-align: center;
}

header{
    padding-right: 15px;
    padding-left: 15px;
    height: 50px;
    display: flex;
    background-color:#06408d;
    justify-content: space-between;
}

.login{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 3.125rem;
    grid-row-gap: 1.25rem; 
    justify-content: center;
    align-items: center;
    border-radius: .9375rem;
    margin-left: 18.75rem;
    margin-right: 18.75rem;
    margin-top: 10px;
 }

 .logo{
    max-height: 50px;
 }


 .regi{
    border-radius: .625rem;
    height: 1.5625rem;
    width: 18.75rem;
 }

.projektanlegung{
  max-width: 700px;
}


.submitb{
    background-color: cyan;
}

.eingabe{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
    
}

.eingabe input{
    margin-left: 3em;
}

.centerer{
    display: flex;
    justify-content: center;
}

footer{
    font-size: 10px;
    margin-top: 50px;
    color: green;
    margin-left: 10px;
}

.Überschrift{
    font-size: 20px;
}

.suche{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    max-width: 50%;
    justify-content: space-between;
}

.suchen{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.freundlink{
    color: aqua;
    text-decoration: underline;

}

.impressum{
    font-size: 15px;   
}

footer h2{
    padding-bottom: 0%;
    margin-bottom: 5px;
}

footer p{
    padding-top: 0%;
    margin-top: 5px;
}